html {
    scroll-behavior: smooth;
    text-decoration: none;
}

.fundo-gradiente {
    background-color: linear-gradient(90deg, rgb(205 255 216 / 32%), rgb(148 185 255 / 32%));
    padding: 0;
}

.boas-vindas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: auto;
    padding-bottom: 50px;
    background-image: url(../imagens/fundo-inicio-section02.png);
    background-size: cover;
}

.boas-vindas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boas-vindas .div01 {
    margin-left: 13rem;
    margin-right: 2rem;
}

.boas-vindas .div02 {
    margin-right: 10rem;
}

.boas-vindas div button {
    margin-top: 10px;
}

.boas-vindas div iframe {
    padding-top: 60px;
    height: 15rem;
    width: 25rem;

}

.boas-vindas2 {
    display: flex;
    padding-top: 60px;
    width: 70%;
    margin: auto;
    gap: 5%;
}

.boas-vindas2 > * {
    flex: 1;
}

.texto-boas-vindas {
    padding-top: 60px;
}

.texto-boas-vindas h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-boas-vindas h1 {
    color: #ef0189;
}

.texto-boas-vindas h2 {
    font-weight: bold;
    font-size: 26px;
    color: #004AAD;
    margin-bottom: 10px;
}

.texto-boas-vindas h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 26px;
}

.botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
}

.botao:hover {
    background-color: #ef0189;
}

.conteiner-carrossel {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* width: 524px; */
    margin-bottom: 25px;
}

.carrossel img {
    border-radius: 14% 30%/73%;
    z-index: 10;
    transform: scale(1.0);
    object-fit: fill;
}

.carrossel {
    display: flex;
    /* width: 524px; */
    /* https://css-tricks.com/css-only-carousel/ */
    overflow: hidden;
}

.carrossel>div {
    flex: 0 0 100%;
}

.carrossel figure {
    display: grid;
}

.carrossel figure>img {
    height: 90%;
    margin-top: 3rem;
    grid-area: 1/1/4/2;
    z-index: 1;
}

.carrossel figure>figcaption>h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.carrossel:hover figure>figcaption {
    opacity: 1;
}

.carrossel a {
    text-decoration: none;
}

.carrossel figure>figcaption {
    opacity: 0;
    color: #004aad;
    grid-area: 2/1/2/2;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    transition: opacity 0.7s;
    text-align: justify;
}

.carrossel figure>figcaption>* {
    width: 80%;
    margin: auto;
}

.carrossel:hover {
    animation-play-state: paused;
}

.carrossel figcaption {
    text-align: center;
}

.navegacao-carrossel {
    z-index: 10;
    align-self: center;
}

.navegacao-carrossel a {
    text-decoration: none;
    font-size: 22px;
    color: #ef0189;
}

.navegacao-carrossel a.selecionado {
    color: #004aad;
}

/* Responsividade*/

@media screen and (min-width: 280px) and (max-width: 1024px){
    .boas-vindas {
        flex-direction: column;
        padding-bottom: 8px;
    }

    .boas-vindas div iframe {
        display: flex;
        margin-left: 15rem;
        width: 70vw;
        height: 20vh;
        padding-top: 20px;
    }

    .boas-vindas2 {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-bottom: 4rem;
    }

    .botao {
        margin-top: 6rem;
    }
    .texto-boas-vindas {
        padding-top: 20px;
    }
}