html {
    scroll-behavior: smooth;
}

.fundo-gradiente {
    background: linear-gradient(90deg, rgb(205 255 216 / 52%), rgb(148 185 255 / 52%));
    padding: 0;
}

.boas-vindas {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 5%;
}

.boas-vindas > * {
    flex: 1;
}

.texto-boas-vindas {
    margin-bottom: 5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.texto-boas-vindas h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ef0189;
}

.texto-boas-vindas h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #004AAD;
}

.texto-boas-vindas h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.8rem;
}

.boas-vindas article iframe {
    height: 210px;
    width: 90%;
    border-radius: 5% 5%/73%;
}

.div-fundo-boas-vindas {
    background-image: url(../imagens/fundo-inicio-section02.png);
    background-size: cover;
    padding-top: 2.5rem;
}

.div-fundo-efeito {
    background-image: url(../imagens/fundo-inicio-02.png);
    background-size: cover;
}

.boas-vindas2 {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 5%;
}

.botao {
    display: inline-block;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    width: 120px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
}

.botao:hover {
    background-color: #ef0189;
}

.conteiner-carrossel {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.carrossel img {
    border-radius: 14% 30%/73%;
    z-index: 10;
    transform: scale(1.0);
    object-fit: fill;
}

.carrossel {
    display: flex;
    /* width: 524px; */
    /* https://css-tricks.com/css-only-carousel/ */
    overflow: hidden;
}

.carrossel>div {
    flex: 0 0 100%;
}

.carrossel figure {
    display: grid;
}

.carrossel figure>img {
    height: 290px;
    grid-area: 1/1/4/2;
    z-index: 1;
}

.carrossel figure>figcaption>h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.carrossel:hover figure>figcaption {
    opacity: 1;
}

.carrossel a {
    text-decoration: none;
}

.carrossel figure>figcaption {
    opacity: 0;
    color: #004aad;
    grid-area: 2/1/2/2;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    transition: opacity 0.7s;
    text-align: justify;
}

.carrossel figure>figcaption>* {
    width: 80%;
    margin: auto;
}

.carrossel:hover {
    animation-play-state: paused;
}

.carrossel figcaption {
    text-align: center;
}

.navegacao-carrossel {
    z-index: 10;
    align-self: center;
}

.navegacao-carrossel a {
    text-decoration: none;
    font-size: 22px;
    color: #ef0189;
}

.navegacao-carrossel a.selecionado {
    color: #004aad;
}

/* Responsividade*/

@media screen and (max-width: 1024px) {
    .boas-vindas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .boas-vindas2 {
        flex-direction: column;
    }

    .boas-vindas article iframe {
        height: 30vh;
        width: 70vw;
    }

    .texto-boas-vindas {
        margin: 20px;
    }

    .carrossel figure > img {
        margin-top: -10px;
        height: 95%;
    }

}